@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f1f5f9;
  color: #0b1c30;
  font-family: Inter, system-ui, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c2c7d1;
  border-radius: 10px;
}
